body {
    background-color: beige;
}

h1 {
    color: brown;
    text-align: center;
}

li {
    color: darkblue;
    font-size: 18px;
}

.home a {
    margin-top: 20px;
    text-align: center;
}

.about a {
    margin-top: 20px;
    text-align: center;
}

.contact a {
    margin-top: 20px;
    text-align: center;
}